{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="ui container">
      
      <h1 class="ui header">{{ title }}</h1>

      <p>This is a listing of jobs this server knows about. <a href="https://github.com/ReinProject/python-rein/blob/master/doc/HOWTO-setup-rein.md">Setup the software</a> so you can bid on a job, post your own, or download listings.</p>

      <div id="jobs">
        {% for job in jobs  %}
        <h3>{{ job['Job name'] }}</h3>
        <p>By: <b><a href='/address/{{ job['Job creator master address'] }}'>{{ job['Job creator'] }}</a></b> &nbsp; 
        Master: <a href='/user/{{ job['Job creator master address'] }}'>{{ job['Job creator master address'] }}</a> 
        Job ID: {{ job['Job ID'] }}</p>
        <p>Description: {{ job['Description'] }}</p>
            <br /> 
            <a onClick="alert('If you want to bid, you\'ll need to setup python-rein and run `rein bid`. Find out how at http://reinproject.org')"><button>Bid</button></a>
        {% endfor %}  
      </div>

    </div>

{% endblock %}
